p
{ 
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  font-family: "sans-serif",Quicksand, serif;
}

ol,ul
{
  text-align: center;
  font-size: 17px;
  line-height: 15px;
  font-family: "sans-serif",Quicksand, serif;
}
h2,h1
{
  text-align: center;
  font-size: 17px;
  line-height: 17px;
  font-family: "sans-serif",Quicksand, serif;
  text-shadow: 2px 2px 3px #ccccff;
}
body
{
background-color:  #F5F3F8
}
/body

a 
{
 color: white;
}

id
{
  text-align: justify;
  font-size: 17px;
  line-height: 17px;
  font-family: "sans-serif",Quicksand, serif;
}
